.techs__item {
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .techs__item {
    width: 84px;
    height: 57px;
  }
}

.techs__item-title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .techs__item-title {
    font-size: 11px;
    line-height: 16px;
  }
}
