.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 69px;
}

@media screen and (max-width: 520px) {
  .auth-form {
    gap: 154px;
  }
}

.auth-form__container {
  display: flex;
  flex-direction: column;
}

.auth-form__input-label {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.auth-form__input {
  padding: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #F9F9F9;
  border: none;
  border-radius: 8px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.auth-form__input_state_error {
  color: #EE3465;
}

.auth-form__input-error {
  min-height: 22px;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.auth-form__submit-btn {
  height: 45px;
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  background-color: #FF6838;
  border-radius: 3px;
  border: none;
  outline: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}